*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.parent{
    height: 100%;
    width: 100%;
    border: 20px;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(bgim.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
 
}
/*menu section */
.navbar-nav{
    display: none;
}
.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-y: hidden;
    padding-top: 60px;
    transition: 0.5s;
} 
.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color:crimson;
    display: block;
    transition: 0.3s;
  
}
.side-nav a:hover{
    color: #fff;
}
 .side-nav .btn-close{
     position: absolute;
     top: 0;
     right: 22px;
     font-size: 36px;
     margin-left: 50px;

 }
  /*contact-nav section */
  .con-slide{
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-y: hidden;
    padding-left: 60px;
    transition: 0.5s;
 }
 .con-slide h3{
    text-align: center;
    transition: 0.5s;
    color: #fff;
    padding:2em 1em 1em;
}
.con-slide ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 2em 1em 1em;
    color: #fff;
}
.con-slide .con-btn-close{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
    transition: 0.5s;
 }
 .con-slide a{
     color: white;
     text-decoration: none;
 }
 
   
/*heading section */

.heading{
    text-align: center;
    color: white;
    padding-top: 100px;
}
.head{
    color:#666;
    font-size: 56px;
    text-transform: uppercase;
    text-align: center;
}
p{
    font-family: cursive;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
/*about us section*/
.container{
    color: white;
    font-family: cursive;
    text-align: center;
    background: #333;
    margin-top: 100px;
    
}
.image{
    height: 180px;
    width: 180px;
    padding: 2em 1em 1em;;
    border-radius: 10px;
    transition: none;
    box-shadow: none;
    
}
image:hover{
    transform: none;
}
.about-us{
padding: 2em 1em 1em;
}
/*sample section*/
.samples{
    text-align: center;
    background: whitesmoke;
    color: black;
    width: 100%;
    font-family: cursive;

}
img{
    height: 300px;
    width: 300px;
    transition: .6s ease-in-out;
    box-shadow: 0 6px 6px rgba(0,0,0,0.5);
    
}
img:hover{
    transform: translateY(10px);
    opacity: 0.5;
}
.samp{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
}

/*contact info section*/
#contact-section{
    background: #1f3542;
    color: white;
    text-align: center;
    font-family: cursive;
}
.con{
    height: 60px;
    width: 60px;
    padding: 10px 12px;
    transition: none;
    box-shadow: none;
    transform: none;
}h6{
    color: black;
}

.con:hover{
    background: #333;
}
.contact{
    padding-top: 40px;
}
.social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 5px 5px ;
}
@media(min-width:700px){
    .navbar-nav{
        display: flex;
    }
    .open_slide{
        display: none;
    }
    /*menu section */
.navbar {
    float: right;
    margin-top: 20px;
    list-style: none;
}
.navbar li a {
    display: inline-block;

}
.navbar li a{
    text-decoration:none;
    color:crimson;
    padding: 10px 20px;
    font-family: cursive;
    text-transform: uppercase;
    margin-top: 10px;
    transition: 0.4s;
}
ul {
    list-style: none;

}
li a:hover{
    color: white;
    opacity: 0.5;
}
    /*abou us section */
    .container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .image{
        height: 240px;
        width: 240px;
        margin-top: 10px;
    }
    .about-us{
        margin-top: 10px;
    }
    /* samples section */
    .image-holder{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 40px;
        flex-wrap: wrap;
        
    }
    p{
        font-size: 18px;
    }
    .samp{
        font-size: 60px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 20px;
    }
    /*heading section */
    .head{
        font-size: 70px;
        text-align: center;
    }

}


