*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.parent{
    height: 100%;
    width: 100%;
    border: 20px;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(bgim.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
 
}
/*nav section */
.child1{
    display: none;
}
.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-y: hidden;
    padding-top: 60px;
    transition: 0.5s;
} 
.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color:crimson;
    display: block;
    transition: 0.3s;
  
}
.side-nav a:hover{
    color: #fff;
}
 .side-nav .btn-close{
     position: absolute;
     top: 0;
     right: 22px;
     font-size: 36px;
     margin-left: 50px;

 }
 /*contact-nav section */
 .con-slide{
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-y: hidden;
    padding-left: 60px;
    transition: 0.5s;
 }
 .con-slide h3,ul{
     text-align: center;
     color: white;
     transition: 0.5s;
     padding: 2em 1em 1em;
     list-style: none;
 }
 ul{
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }
 .con-slide .con-btn-close{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
    transition: 0.5s;
 }
 .con-slide a{
     color: white;
     text-decoration: none;
 }
 
/*heading section */
.heading{
    text-align: center;
    color: white;
    padding-top: 100px;
}
.head{
    color:#666;
    font-size: 56px;
    font-family: none;
}
/*about us section */
.container{
    background: #333;
    margin-top: 100px;
    padding: 0;
    text-align: center;
    color: black;
    
}
p,h1{
    font-family: cursive;

}
h1{
    text-transform: uppercase;
    font-size: 24px;
    
}
.about-us{
    padding-top: 40px;
    padding-bottom: 30px;
}
.sub_tile{
    color: black;
    font-size: 20px;
    padding: 2em 1em 1em;

}
h3 a {
    background: #333;
    color:black;
    padding: 10px 10px;
    text-decoration: none;
    border: 1px solid #666;
    font-family: cursive;
    
}
h3{
    margin-top: 22px;
}
h3 a:hover{
    background: #eaeaea;
    color: #333;
}
/*sample section*/
.samples{
    text-align: center;
    background: whitesmoke;
    color: black;

}
.sample{
    margin-top: 0;
    text-align: center;
    background: whitesmoke;
    color: black;
}
img{
    height: 300px;
    width: 300px;
    transition: .6s ease-in-out;
    box-shadow: 0 6px 6px rgba(0,0,0,0.5);
}
img:hover{
    transform: translateY(10px);
    opacity: 0.5;
}
.samp{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}
/* services section */
.services{
    background:black;
    text-align: center;
    padding: 2EM 1EM 1EM;
    color: white;
}
.serv-img{
    height: 100px;
    width: 130px;
    align-items: center;
}
.serv-1{
    text-align: center;
}
p{
    color:white;
    font-size: 50px;
    Font-family:verdana;
}

/* our contact section */
#contact-section{
    background: #1f3542;
    color: white;
    text-align: center;
}
.con{
    height: 60px;
    width:60px;
    padding: 10px 12px;
    transition: none;
    box-shadow: none;
}
.contact{
    padding-top: 40px;

}
.con:hover{
    background: #333;
}
.social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 5px 5px ;
}

@media(min-width:700px){
    /*nav section */
    .child1{
        display: flex;
    }
    .open_slide{
        display: none;
    }
.child1 {
    float: right;
    margin-top: 20px;
    list-style: none;
}
.child1 li{
    display: inline-block;
}
.child1 li a{
    text-decoration:none;
    color:crimson;
    padding: 10px 20px;
    font-family: cursive;
    margin-top: 10px;
    transition: 0.4s;
    
}
li a:hover{
    color: white;
    opacity: 0.5;
}
/*h1 and p tags */
    h1{
        font-size: 34px;
    }
    p{
        font-size: 26px;
    }
    
    /*services section */
.service-holder{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}


h6{
    color: white;
    padding-top: 40px;
}
/* heading section */
.head{
    font-size: 70px;
}
}
/*samples section */
 /* samples section */
 .image-holder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
    flex-wrap: wrap;
    
}

.samp{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
}
